<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">GuestBook Modify Page</h1>
        <form action="/guestbook/modify" method="post">
            <input name="page" th:value="${requestDto.page}" type="hidden">
            <div class="form-group">
                <label>Gno</label>
                <input class="form-control" name="gno" readonly th:value="${dto.gno}" type="text">
            </div>
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" name="title" th:value="${dto.title}" type="text">
            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" name="content" rows="5">[[${dto.content}]]</textarea>
            </div>
            <div class="form-group">
                <label>Writer</label>
                <input class="form-control" name="writer" readonly th:value="${dto.writer}" type="text">
            </div>
            <div class="form-group">
                <label>RegDate</label>
                <input class="form-control" readonly
                       th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" type="text">
            </div>
            <div class="form-group">
                <label>ModDate</label>
                <input class="form-control" readonly
                       th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" type="text">
            </div>
        </form>
        <button class="btn btn-primary modifyBtn" type="button">Modify</button>
        <button class="btn btn-info listBtn" type="button">List</button>
        <button class="btn btn-danger removeBtn" type="button">Remove</button>
        <script th:inline="javascript">
          const actionForm = $("form");

          $(".removeBtn").click(function () {
            actionForm
              .attr("action", "guestbook/remove")
              .attr("method", "post");
            actionForm.submit();
          })

          $(".modifyBtn").click(function () {
            if (!confirm("수정하시겠습니까?")) {
              return;
            }
            actionForm
              .attr("action", "/guestbook/modify")
              .attr("method", "post")
              .submit();
          })

          const pageInfo = $("input[name='page']");

          actionForm
            .empty();
          actionForm.append(pageInfo);
          actionForm
            .attr("action", "/guestbook/list")
            .attr("method", "get")
            .submit();

        </script>
    </th:block>
</th:block>
